@model BBFlix.Models.EF.Movie
@{
    ViewBag.Title = "Phim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- details -->
<section class="section section--details">
    <!-- details background -->
    <div class="section__details-bg" data-bg="/Content/Client/img/bg/details__bg.jpg"></div>
    <!-- end details background -->
    <!-- details content -->
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <h1 class="section__title section__title--head">@Model.mov_title</h1>
            </div>
            <!-- end title -->
            <!-- content -->
            <div class="col-12 col-xl-6">
                <div class="item item--details">
                    <!-- card cover -->
                    <div class="item__cover">
                        <img src="@Model.mov_thumb" alt="">
                    </div>
                    <!-- end card cover -->
                    <!-- card content -->
                    <div class="item__content">
                        <div class="item__wrap">
                            <span class="item__rate">8.4</span>

                            <ul class="item__list">
                                <li>Full HD</li>
                                <li>16+</li>
                            </ul>
                        </div>

                        <ul class="item__meta">
                            <li>
                                <span>Thể loại:</span>
                                @foreach (var item in Model.MovieGenres)
                                {
                                    <a href="#">@item.Genres.gen_title</a>
                                }
                            </li>
                            <li><span>Thời lượng:</span> @TimeSpan.FromTicks(Model.mov_time) </li>
                            <li><span>Quốc gia:</span> <a href="#">@Model.Country.country_name</a></li>
                            <li><span>Ngày khởi chiếu:</span> @Model.mov_date_rel.Date</li>
                        </ul>

                        <ul class="item__meta item__meta--second">
                            <li>
                                <span>Đạo diễn:</span>
                                @foreach (var item in Model.MovieDirection)
                                {
                                    <a href="#">@item.Director.dir_name</a>

                                }
                            </li>
                            <li>
                                <span>Diễn viên:</span>
                                @foreach (var item in Model.MovieCast)
                                {

                                    <a href="/dien-vien/@item.Actor.act_slug-@(item.act_id)">@item.Actor.act_name</a>
                                }

                            </li>
                        </ul>
                    </div>

                    <div class="item__description item__description--details item__description--tvseries">
                        <p>@Model.mov_dec</p>
                    </div>
                    <!-- end card content -->
                </div>
            </div>
            <!-- end content -->
            <!-- player -->
            <div class="col-12 col-xl-6">
                <iframe id="player" width="640" height="360" src="https://short.ink/y0DsidO8b" frameborder="0" scrolling="0" allowfullscreen></iframe>

                <div class="section__item-filter">
                    <select class="section__item-select" name="season" id="filter__season">
                        <option value="0">Season 1</option>
                        <option value="1">Season 2</option>
                        <option value="2">Season 3</option>
                        <option value="3">Season 4</option>
                        <option value="4">Season 5</option>
                    </select>

                    <select class="section__item-select" name="series" id="filter__series">
                        <option value="0">Series 1</option>
                        <option value="1">Series 2</option>
                        <option value="2">Series 3</option>
                        <option value="3">Series 4</option>
                        <option value="4">Series 5</option>
                        <option value="5">Series 6</option>
                        <option value="6">Series 7</option>
                        <option value="7">Series 8</option>
                        <option value="8">Series 9</option>
                        <option value="9">Series 10</option>
                        <option value="10">Series 11</option>
                        <option value="11">Series 12</option>
                    </select>

                    <select class="section__item-select" name="sync" id="filter__sync">
                        <option value="0">Eng.Original</option>
                        <option value="1">NewStudio</option>
                        <option value="2">LostFilm</option>
                        <option value="3">FlixGo</option>
                    </select>
                </div>
            </div>
            <!-- end player -->
        </div>
    </div>
    <!-- end details content -->
</section>
<!-- end details -->
<!-- content -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title">Khám phá</h2>
                    <!-- end content title -->
                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button id="2-tab" class="active" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="true">Đánh giá</button>
                        </li>
                    </ul>
                    <!-- end content tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- content tabs -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-2" role="tabpanel" aria-labelledby="2-tab" tabindex="0">
                        <div class="row">
                            <!-- reviews -->
                            <div class="col-12">
                                <div class="reviews">
                                    <ul class="reviews__list">

                                        @foreach (var item in Model.Reviewer)
                                        {
                                            <li class="reviews__item">
                                                <div class="reviews__autor">
                                                    <img class="reviews__avatar" src="/Content/Client/img/user.svg" alt="">
                                                    <span class="reviews__name">@item.User.user_fullname</span>
                                                    <span class="reviews__time">@item.rev_date</span>

                                                    <span class="reviews__rating"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1v0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z"></path></svg>@item.rev_star</span>
                                                </div>
                                                <p class="reviews__text">@item.rev_content</p>
                                            </li>
                                        }

                                        <li class="reviews__item">
                                            <div class="reviews__autor">
                                                <img class="reviews__avatar" src="/Content/Client/img/user.svg" alt="">
                                                <span class="reviews__name">Best Marvel movie in my opinion</span>
                                                <span class="reviews__time">24.08.2023, by Tess Harper</span>

                                                <span class="reviews__rating"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1v0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z"></path></svg>8.0</span>
                                            </div>
                                            <p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                        </li>

                                        <li class="reviews__item">
                                            <div class="reviews__autor">
                                                <img class="reviews__avatar" src="/Content/Client/img/user.svg" alt="">
                                                <span class="reviews__name">Greate movie</span>
                                                <span class="reviews__time">24.08.2023, by Gene Graham</span>

                                                <span class="reviews__rating"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1v0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z"></path></svg>9.0</span>
                                            </div>
                                            <p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                        </li>

                                        <li class="reviews__item">
                                            <div class="reviews__autor">
                                                <img class="reviews__avatar" src="/Content/Client/img/user.svg" alt="">
                                                <span class="reviews__name">It could be better</span>
                                                <span class="reviews__time">24.08.2023, by Rosa Lee</span>

                                                <span class="reviews__rating"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1v0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z"></path></svg>7.0</span>
                                            </div>
                                            <p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                        </li>
                                    </ul>

                                    <form action="#" class="sign__form sign__form--comments">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="sign__group">
                                                    <input type="text" class="sign__input" placeholder="Title">
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="sign__group">
                                                    <select class="sign__select" name="rating" id="rating">
                                                        <option value="0">Rating</option>
                                                        <option value="1">1 star</option>
                                                        <option value="2">2 stars</option>
                                                        <option value="3">3 stars</option>
                                                        <option value="4">4 stars</option>
                                                        <option value="5">5 stars</option>
                                                        <option value="6">6 stars</option>
                                                        <option value="7">7 stars</option>
                                                        <option value="8">8 stars</option>
                                                        <option value="9">9 stars</option>
                                                        <option value="10">10 stars</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="sign__group">
                                                    <textarea class="sign__textarea" placeholder="Write a review"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <button type="button" class="sign__btn sign__btn--small"><span>Send</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end reviews -->
                        </div>
                    </div>

                </div>
                <!-- end content tabs -->
            </div>

            <!-- sidebar -->
            <div class="col-12 col-lg-4">
                <div class="row">
                    <!-- section title -->
                    <div class="col-12">
                        <h2 class="section__title section__title--sidebar">You may also like</h2>
                    </div>
                    <!-- end section title -->
                    <!-- item -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="item">
                            <a href="details1.html" class="item__cover">
                                <img src="/Content/Client/img/covers/7.png" alt="">
                                <span class="item__play">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg>
                                </span>
                            </a>
                            <div class="item__content">
                                <h3 class="item__title"><a href="details1.html">The Lost Key</a></h3>
                                <span class="item__category">
                                    <a href="#">Action</a>
                                    <a href="#">Triler</a>
                                </span>
                                <span class="item__rate">8.4</span>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- item -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="item">
                            <a href="details1.html" class="item__cover">
                                <img src="/Content/Client/img/covers/8.png" alt="">
                                <span class="item__play">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg>
                                </span>
                            </a>
                            <div class="item__content">
                                <h3 class="item__title"><a href="details1.html">Red Sky at Night</a></h3>
                                <span class="item__category">
                                    <a href="#">Comedy</a>
                                </span>
                                <span class="item__rate">7.1</span>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- item -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="item">
                            <a href="details1.html" class="item__cover">
                                <img src="/Content/Client/img/covers/9.png" alt="">
                                <span class="item__play">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg>
                                </span>
                            </a>
                            <div class="item__content">
                                <h3 class="item__title"><a href="details1.html">The Forgotten Road</a></h3>
                                <span class="item__category">
                                    <a href="#">Romance</a>
                                    <a href="#">Drama</a>
                                    <a href="#">Music</a>
                                </span>
                                <span class="item__rate">6.3</span>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- item -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="item">
                            <a href="details1.html" class="item__cover">
                                <img src="/Content/Client/img/covers/10.png" alt="">
                                <span class="item__play">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg>
                                </span>
                            </a>
                            <div class="item__content">
                                <h3 class="item__title"><a href="details1.html">Dark Horizons</a></h3>
                                <span class="item__category">
                                    <a href="#">Comedy</a>
                                    <a href="#">Drama</a>
                                </span>
                                <span class="item__rate">7.9</span>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- item -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="item">
                            <a href="details1.html" class="item__cover">
                                <img src="/Content/Client/img/covers/11.png" alt="">
                                <span class="item__play">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg>
                                </span>
                            </a>
                            <div class="item__content">
                                <h3 class="item__title"><a href="details1.html">Echoes of Yesterday</a></h3>
                                <span class="item__category">
                                    <a href="#">Action</a>
                                    <a href="#">Triler</a>
                                </span>
                                <span class="item__rate">8.4</span>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- item -->
                    <div class="col-6 col-sm-4 col-lg-6">
                        <div class="item">
                            <a href="details1.html" class="item__cover">
                                <img src="/Content/Client/img/covers/12.png" alt="">
                                <span class="item__play">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg>
                                </span>
                            </a>
                            <div class="item__content">
                                <h3 class="item__title"><a href="details1.html">Into the Unknown</a></h3>
                                <span class="item__category">
                                    <a href="#">Comedy</a>
                                </span>
                                <span class="item__rate">7.1</span>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                </div>
            </div>
            <!-- end sidebar -->
        </div>
    </div>
</section>
<!-- end content -->