
@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Dashboard</h2>

                    <a href="add-item.html" class="main__title-link"><span>add item</span></a>
                </div>
            </div>
            <!-- end main title -->
        </div>

        <div class="row">
            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Unique views this month</span>
                    <p>5 678</p>
                    <img src="/Content/Admin/img/graph-bar.svg" alt="">
                </div>
            </div>
            <!-- end stats -->
            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Phim chiếu trong tháng</span>
                    <p>@ViewBag.MovieMonth.Count</p>
                    <img src="/Content/Admin/img/film.svg" alt="">
                </div>
            </div>
            <!-- end stats -->
            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Bình luận mới</span>
                    <p>@ViewBag.NewComments.Count</p>
                    <img src="/Content/Admin/img/comments.svg" alt="">
                </div>
            </div>
            <!-- end stats -->
            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Đánh giá mới</span>
                    <p>@ViewBag.NewRate.Count</p>
                    <img src="/Content/Admin/img/star-half-alt.svg" alt="">
                </div>
            </div>
            <!-- end stats -->
            <!-- dashbox -->
            <div class="col-12 col-xl-6">
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3><img src="/Content/Admin/img/user-circle.svg" alt=""> Phim mới</h3>

                        <div class="dashbox__wrap">
                            <a class="dashbox__refresh" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z" /></svg></a>
                            <a class="dashbox__more" href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="dashbox__table-wrap dashbox__table-wrap--3">
                        <table class="dashbox__table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>TÊN PHIM</th>
                                    <th>DANH MỤC</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.MovieMonth.Count > 0)
                                {
                                    foreach (var item in ViewBag.MovieMonth)
                                    {

                                        <tr>
                                            <td>
                                                <div class="dashbox__table-text">@item.mov_id</div>
                                            </td>
                                            <td>
                                                <div class="dashbox__table-text">@item.mov_title</div>
                                            </td>
                                            <td>
                                                <div class="dashbox__table-text">@item.MovieType.mov_type_title</div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end dashbox -->
            <!-- dashbox -->
            <div class="col-12 col-xl-6">
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3><img src="/Content/Admin/img/star-half-alt.svg" alt=""> Đánh giá mới</h3>

                        <div class="dashbox__wrap">
                            <a class="dashbox__refresh" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z" /></svg></a>
                            <a class="dashbox__more" href="#">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="dashbox__table-wrap dashbox__table-wrap--4">
                        <table class="dashbox__table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>PHIM</th>
                                    <th>NGƯỜI DÙNG</th>
                                    <th>ĐÁNH GIÁ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.NewComments.Count > 0)
                                {
                                    foreach (var item in ViewBag.NewComments)
                                    {
                                        <tr>
                                            <td>
                                                <div class="dashbox__table-text">@item.rev_id</div>
                                            </td>
                                            <td>
                                                <div class="dashbox__table-text"><a href="#">@item.Movie.mov_title</a></div>
                                            </td>
                                            <td>
                                                <div class="dashbox__table-text">@item.User.user_fullname</div>
                                            </td>
                                            <td>
                                                <div class="dashbox__table-text dashbox__table-text--rate">
                                                    @(item.rev_star > 0 ? @item.rev_star : "Không")
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end dashbox -->
        </div>
    </div>
</main>