@model BBFlix.Models.EF.User
@{
    ViewBag.Title = "Thêm thành viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Thêm thành viên</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- content tabs -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab" tabindex="0">
                    <div class="col-12">
                        <div class="row">
                            <!-- details form -->
                            <div class="col-12 col-lg-12">
                                @using (Html.BeginForm("Add", "Users", FormMethod.Post, new { @class = "sign__form sign__form--profile" } ))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()
                                    @*<form action="#" class="sign__form sign__form--profile">*@
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="sign__title">THÔNG TIN CÁ NHÂN</h4>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="sign__group">
                                                <label class="sign__label" for="email2">Email</label>
                                                @*<input id="email2" type="text" name="email" class="sign__input" placeholder="email@email.com">*@
                                                @Html.EditorFor(x => x.user_email, new { htmlAttributes = new { @class = "sign__input", @placeholder = "email@email.com" } })
                                                @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="sign__group">
                                                <label class="sign__label" for="email2">Mật khẩu</label>
                                                @*<input id="email2" type="text" name="email" class="sign__input" placeholder="email@email.com">*@
                                                @Html.EditorFor(x => x.user_pass, new { htmlAttributes = new { @class = "sign__input", @placeholder = "Acb132" } })
                                                @Html.ValidationMessageFor(model => model.user_pass, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="sign__group">
                                                <label class="sign__label" for="firstname">Tên hiển thị</label>
                                                @*<input id="firstname" type="text" name="firstname" class="sign__input" placeholder="John">*@
                                                @Html.EditorFor(x => x.user_fullname, new { htmlAttributes = new { @class = "sign__input", @placeholder = "John" } })
                                                @Html.ValidationMessageFor(model => model.user_fullname, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="sign__group">
                                                <label class="sign__label" for="subscription">Gói đăng ký</label>
                                                @Html.DropDownListFor(model => model.user_plan, ViewBag.Plans as SelectList, "-- Chọn gói --", new { @class = "sign__select" })
                                                @Html.ValidationMessageFor(model => model.user_plan, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="sign__group">
                                                <label class="sign__label" for="rights">Vai trò</label>
                                                @Html.DropDownListFor(model => model.user_role, new List<SelectListItem>()
                                                {
                                                   new SelectListItem(){ Selected = true,Text = "Thành viên", Value = "0" },
                                                   new SelectListItem(){ Text = "Admin", Value = "1"},
                                                }, new { @class = "sign__select" })
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="sign__group">
                                                <label class="sign__label" for="rights">Avatar</label>
                                                <div class="sign__gallery">
                                                    <label id="gallery1" for="sign__gallery-upload">Chọn ảnh (150x150)</label>
                                                    <input data-name="#gallery1" id="sign__gallery-upload" name="gallery" class="sign__gallery-upload" type="file" accept=".png, .jpg, .jpeg" multiple="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button class="sign__btn sign__btn--small" type="submit"><span>Thêm</span></button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- end details form -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content tabs -->
        </div>
    </div>
</main>
<!-- end main content -->